body,html{
  margin: 0;
  padding: 0;
  background: red;
}
h1,p{
  text-align: center;
}
.lesson-2{
  font-size: 22px;
}
.count{
  font-size: 20px;
  text-align: center;
}
.count .btn{
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  color: #ffffff;
  padding: 20px;
}
